.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

:root {
  /* --color: rgb(5, 5, 5); */
  --color: rgb(254, 254, 254);
  --alter-color: rgb(192, 62, 255);
  /* --background-color: rgb(224, 215, 215); */
  --background-color: rgb(4, 3, 3);
  /* --border: 0.5px solid rgb(32, 32, 34); */
  --border: 0.5px solid rgb(192, 62, 255);
  --font-size: calc(5px + 0.7vw);

}

